{% extends 'base.html' %}

{% block content %}

<h1>Профиль</h1>

{% for field in form %}
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                {{ field.label_tag }}
            </div>
            <div class="col-auto">
                {% if field.help_text %}
                    <span class="form-text">
                        {{ field.help_text }}
                    </span>
                {% endif %}
                <div class="col-auto">
                    {{ field.value }}
                </div>
            </div>
        </div>

    </div>
{% endfor %}

{% endblock content %}
