{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Подробнее про {{ item.name }}</h1>

    <p>Название: <b>{{ item.name }}</b></p>
    <p>Категория: <b>{{ item.category.name }}</b></p>
    <p>Описание: {{ item.text|safe }}</p>
    <p>Тэги:
        {% for tag in item.tags.all %}
            '{{ tag.name }}'
        {% endfor %}
    </p>

    {% for image in photos %}
        <img src="{{ image.image.url }}" alt="connect" style="height:300px">
    {% endfor %}
{% endblock  %}
